@media (max-width:1050px) {
    .courses-menu-item {
        width: 18rem;
    }
    .form {
        width: 38rem;
    }
    #principal-content-description {
        width: 100%;
    }
    .ETE-school-image {
        width: 100%;
    }
    .ETE-school-image {
        width: 90%;
    }
    .image2 {
        width: 30%;
    }

}
@media (max-width:900px) {
    #principal-content {
        flex-direction: column;
    }
    #menu {
        font-size: 1.5rem;
        width: 100%;
    }
    .courses-menu-item {
        width: 18.5rem;
    }
    .form {
        width: 100%;
    }
    #contact-title {
        font-size: 2.5rem;
    }
    #footer-title {
        font-size: 2rem;
    }
}
@media(max-width:660px) {
    .courses-menu-item {
        width: 100%;
    }
    .form {
        height: 58rem;
    }
}
@media(max-width:580px) {
    .courses-menu-item {
        width: 100%;
    }
}
@media (max-width:450px) {
    #ETE-logo {
        width: 3.5rem;
    }
    #ETE {
        font-size: 1.5rem;
    }
    #menu {
        font-size: 1rem;
    }
    .navigation-arrow {
        margin: .1rem;
    }
    .form {
        width: 100%;
        height: 65rem;
    }
    #contact {
        gap: 1%;
    }
    #contact-title {
        font-size: 2rem;
    }
    .contact-menu-item {
        font-size: 1rem;
    }
}
@media (max-width:400px) {
    .form {
        height: 72rem;
    }
    #contact {
        flex-direction: column;
    }
    .image2 {
        width: 90%;
    }
}
@media (max-width:365px) {
    #ETE {
        font-size: 1.4rem;
    }
    #principal-content {
        padding: 0;
    }
    #principal-content-description {
        padding: 2%;
    }
    .form {
        width: 100%;
    }
}
@media(max-width:325px) {
    #principal-content-title {
        font-size: 3rem;
    }
    #principal-content-subtitle {
        font-size: 1.5rem;
    }
    #principal-content-description {
        font-size: 1rem;
    }
    .form {
        margin-top: 1rem;
        width: 100%;
        height: 80rem;
    }
}