@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    scroll-behavior: smooth;
}
body {
    color: #191d32;
    background-color: #9eb3c2;
    font-family: 'Inter', arial;
    overflow-x: hidden;
}
#header, footer {
    background-color: #191d32;
    color: #9eb3c2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
footer {
    margin-bottom: 0;
}
.anchor-title {
    color: #b7c0ee;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.ete-anchor-image {
    width: 6rem;
}
.footer-anchor {
    width: 100%;
}
.footer-logo-content {
    display: flex;
}
.footer-contact-content {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
}
.primary-menu-content {
    width: 100%;
    display: flex;
    gap: 5rem;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.primary-menu-button {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.primary-menu-button:hover {
    color: #7f919e;
}
.menu-arrow {
    width: 1.5rem;
    transition: .5s ease-in-out;
}
.contact-content {
    font-size: 1rem;
    width: 100%;
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}
.contact-item {
    transition: .5s ease-in-out;
}
.contact-item:hover {
    color: #7f919e;
}
.contact-icon {
    width: 1rem;
}
.sub-menu {
    display: none;
    justify-content: space-around;
    padding-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.sub-menu-item {
    cursor: pointer;
    font-size: 1.5rem;
    transition: .5s ease-in-out;
}
.institution-sub-menu {
    display: flex;
}
.sub-menu-item:hover {
    color: #7f919e;
}
.institution-sub-menu {
    flex-direction: flex;
}
.up-button-content {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    margin: 38rem 0 0 87rem;
    z-index: 999;
}
.up-button {
    background-color: #191d32;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.up-button-anchor {
    display: flex;
    justify-content: center;
}
.up-button-image {
    width: 3rem;
}
.slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.slider {
    margin: 0 auto;
    width: 1100px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}
.slides {
    width: 400%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 1s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
}
.manual-navigation {
    position: absolute;
    width: 1100px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-button {
    border: 3px solid #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.manual-button:not(:last-child) {
    margin-right: 40px;
}
.manual-button:hover {
    background-color: #fff;
}
#index-slide-input1:checked ~ .first-slide {
    margin-left: 0;
}
#index-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#index-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#index-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
.navigation-auto div {
    border: 3px solid #191d32;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.navigation-auto {
    position: absolute;
    width: 1100px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#index-slide-input1:checked ~ .navigation-auto .auto-index-button1 {
    background-color: #fff;
}
#index-slide-input2:checked ~ .navigation-auto .auto-index-button2 {
    background-color: #fff;
}
#index-slide-input3:checked ~ .navigation-auto .auto-index-button3 {
    background-color: #fff;
}
#index-slide-input4:checked ~ .navigation-auto .auto-index-button4 {
    background-color: #fff;
}
.left-brown-bar {
    width: 70%;
    height: 1rem;
    background-color: #453A49;
    margin:  2rem 0 1rem;
}
.left-blue-bar {
    width: 50%;
    height: 1rem;
    background-color: #282F44;
    margin-bottom: 2rem;
}
.right-bars-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.ete-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ete-description-image {
    width: 35rem;
    height: 20rem;
    border-radius: 20px;
}
.ete-description-text {
    font-size: 2rem;
    width: 40%;
}
.ete-descrption-left {
    flex-direction: row-reverse;
    gap: 2rem;
}
.ete-descrption-right {
    gap: 2rem;
}
.ete-title {
    font-size: 2rem;
    margin: 0 0 2rem 2rem;
}
.ete-images {
    width: 28rem;
    height: 20rem;
    border-radius: 10px;
}
.institution-photos-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.institution-images {
    margin-bottom: 2rem;
}
/* Event styles */
.event {
    margin-top: 2rem;
    padding: 1rem;
}
.voting-content {
    display: flex;
    justify-content: space-around;
}
.graphic-content {
    width: 30%;
}
.inclusion-carousel {
    width: 30em;
    height: 700px;
    position: relative;
}
.inclusion-slides {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}
.inclusion-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.inclusion-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.inclusion-navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.inclusion-navigation label {
    width: 20px;
    height: 20px;
    background-color: #616161;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.inclusion-navigation label:hover {
    background-color: #333333;
}
#inclusion-image-input1:checked ~ .inclusion-slides .inclusion-slide:nth-child(1),
#inclusion-image-input2:checked ~ .inclusion-slides .inclusion-slide:nth-child(2),
#inclusion-image-input3:checked ~ .inclusion-slides .inclusion-slide:nth-child(3),
#inclusion-image-input4:checked ~ .inclusion-slides .inclusion-slide:nth-child(4),
#inclusion-image-input5:checked ~ .inclusion-slides .inclusion-slide:nth-child(5),
#inclusion-image-input6:checked ~ .inclusion-slides .inclusion-slide:nth-child(6) {
    display: block;
}
#inclusion-video-input1:checked ~ .inclusion-slides .inclusion-slide:nth-child(1),
#inclusion-video-input2:checked ~ .inclusion-slides .inclusion-slide:nth-child(2),
#inclusion-video-input3:checked ~ .inclusion-slides .inclusion-slide:nth-child(3),
#inclusion-video-input4:checked ~ .inclusion-slides .inclusion-slide:nth-child(4),
#inclusion-video-input5:checked ~ .inclusion-slides .inclusion-slide:nth-child(5) {
    display: block;
}
.video-carousel {
    height: 700px;
}
.inclusion-slide-video {
    width: 100%;
    height: 100%;
}
.inclusion-slider-input {
    display: none;
}
.inclusion-carousels-row {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
#seventh-september-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#seventh-september-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#seventh-september-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#seventh-september-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#seventh-september-slide-input1:checked ~ .navigation-auto .auto-seventh-september-button1 {
    background-color: #fff;
}
#seventh-september-slide-input2:checked ~ .navigation-auto .auto-seventh-september-button2 {
    background-color: #fff;
}
#seventh-september-slide-input3:checked ~ .navigation-auto .auto-seventh-september-button3 {
    background-color: #fff;
}
#seventh-september-slide-input4:checked ~ .navigation-auto .auto-seventh-september-button4 {
    background-color: #fff;
}
#carnival-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#carnival-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#carnival-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#carnival-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#carnival-slide-input1:checked ~ .navigation-auto .auto-carnival-button1 {
    background-color: #fff;
}
#carnival-slide-input2:checked ~ .navigation-auto .auto-carnival-button2 {
    background-color: #fff;
}
#carnival-slide-input3:checked ~ .navigation-auto .auto-carnival-button3 {
    background-color: #fff;
}
#carnival-slide-input4:checked ~ .navigation-auto .auto-carnival-button4 {
    background-color: #fff;
}
#first-fair-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#first-fair-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#first-fair-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#first-fair-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#first-fair-slide-input1:checked ~ .navigation-auto .auto-first-fair-button1 {
    background-color: #fff;
}
#first-fair-slide-input2:checked ~ .navigation-auto .auto-first-fair-button2 {
    background-color: #fff;
}
#first-fair-slide-input3:checked ~ .navigation-auto .auto-first-fair-button3 {
    background-color: #fff;
}
#first-fair-slide-input4:checked ~ .navigation-auto .auto-first-fair-button4 {
    background-color: #fff;
}
#second-fair-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#second-fair-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#second-fair-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#second-fair-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#second-fair-slide-input1:checked ~ .navigation-auto .auto-second-fair-button1 {
    background-color: #fff;
}
#second-fair-slide-input2:checked ~ .navigation-auto .auto-second-fair-button2 {
    background-color: #fff;
}
#second-fair-slide-input3:checked ~ .navigation-auto .auto-second-fair-button3 {
    background-color: #fff;
}
#second-fair-slide-input4:checked ~ .navigation-auto .auto-second-fair-button4 {
    background-color: #fff;
}
#third-fair-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#third-fair-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#third-fair-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#third-fair-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#third-fair-slide-input1:checked ~ .navigation-auto .auto-third-fair-button1 {
    background-color: #fff;
}
#third-fair-slide-input2:checked ~ .navigation-auto .auto-third-fair-button2 {
    background-color: #fff;
}
#third-fair-slide-input3:checked ~ .navigation-auto .auto-third-fair-button3 {
    background-color: #fff;
}
#third-fair-slide-input4:checked ~ .navigation-auto .auto-third-fair-button4 {
    background-color: #fff;
}
/* Conquer styles */
.conquer {
    padding: 1rem;
}
#oba-slide-input1:checked ~ .first-slide {
    margin-left: 0%;
}
#oba-slide-input2:checked ~ .first-slide {
    margin-left: -25%;
}
#oba-slide-input3:checked ~ .first-slide {
    margin-left: -50%;
}
#oba-slide-input4:checked ~ .first-slide {
    margin-left: -75%;
}
#oba-slide-input1:checked ~ .navigation-auto .auto-oba-button1 {
    background-color: #fff;
}
#oba-slide-input2:checked ~ .navigation-auto .auto-oba-button2 {
    background-color: #fff;
}
#oba-slide-input3:checked ~ .navigation-auto .auto-oba-button3 {
    background-color: #fff;
}
#oba-slide-input4:checked ~ .navigation-auto .auto-oba-button4 {
    background-color: #fff;
}
.result-image {
    width: 17rem;
    border-radius: 20px;
}
.results-group-image {
    display: flex;
    justify-content: space-around;
    row-gap: 1.5rem;
    flex-wrap: wrap;
}
/* Projects style */
.project {
    padding: 1rem;
}
.math-genius-icon {
    width: 30%;
}
.math-genius-content-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.math-genius-content-column {
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.math-genius-descript {
    font-size: 2rem;
    width: 100%;
}
.math-genius-button {
    background-color: #191d32;
    color: #b7c0ee;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    width: 30rem;
    border-radius: 20rem;
    transition: .5s ease-in-out;
}
.math-genius-button:hover {
    background-color: #090b13;
    color: #7a81a6;
}
/* formeds students style */
.formeds-students-image {
    width: 70%;
    height: 30rem;
    border-radius: 20px;
}
.formeds-image-group {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}