* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #0c0448, #1d0e8f);
}
#header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}
#header-text {
    gap: 3%;
    display: flex;
    align-items: center;
}
#ETE {
    width: 20rem;
}
#ETE-logo {
    width: 5rem;
}
.navigation-arrow {
    width: 1rem;
    position: absolute;
    margin-top: .5rem;
}
#navigation {
    width: 100%;
    padding: 2% 0 0 0;
    display: flex;
}
#menu1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
    width: 50%;
}
#menu2 {
    display: none;
}
.menu1-item {
    position: relative;
    cursor: pointer;
}
.menu1-item:after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #9e92ee;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 3px;
}
.menu1-item:hover:after {
    width: 100%;
}